[2019-01-27 12:49] sopos opened #58 "expired admin passed at 2IdM1"
I got admin password expired so I needed to changed it first.
Please, extended the livetime of it or make it unexpirable.

[2019-01-28 13:44] dkopecek opened #59 "Explain SCAP terminology in more detail in lab1_OpenSCAP.adoc"
Some lab users are reported that it would be helpful if we described some of the SCAP terminology in more detail and that it would help them understand more what they are doing. They mentioned specifically a sentence which mentions several cryptic abbreviations: "... PCI-DSS, STIG, C2S, Common, CJIS, and others.". Having these described simply as "content" is too vague for first-time (Open)SCAP us

[2019-02-03 13:07] wrabcak commented on #58
@lkerner , could you check this issue please? We'll need to fix in our VMs and do new blueprint.

[2019-03-07 13:22] lkerner commented on #59
OK so we just need to spell out what these acronyms mean @dkopecek ? (So instead of PCI-DSS we say Payment Card Industry Data Security Standard?) @matejak and @dahaic : FYI and thoughts?

[2019-03-07 13:24] lkerner commented on #58
yes. will fix in 2019 lab.

[2019-03-07 13:29] dkopecek commented on #59
@lkerner I'd say that a short section with a summary / dictionary for each abbreviation would be appreciated by some folks.

[2019-04-09 18:35] simo5 opened #84 "Lab1 last excercise fails"
The last item of the last exercise proposes to try/check remediation with ansible, but it fails fue to missing python:

TASK [Gathering Facts] **************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "/bin/sh: /usr/bin/python: No such file or directory\n", "module_stdout": "", "msg": "The module failed to execute

[2019-04-09 19:45] dahaic commented on #84
Ah right, I forgot about this issue. For posterity, it's due to 'python3' not being available as 'python'. https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html

Can be solved by updating command, or using native rpm.

[2019-04-09 20:14] simo5 opened #85 "Lab 2.1.2 exercise steps - incorrect 'screenshot'"
Near the end of the exercise there is a "termshot" of the exit command with a root prompt "#".
There should be a "bash-4.2$" prompt instead as the command is to exit the hacked shell

[2019-04-09 20:30] simo5 opened #86 "Selinux - Lab 2.3 issues"
I did not realize I was looking at the "pre-configured for you steps" initially however I will report anyway the issues I found:

Can't install ansible:
[code]

1st error trying ansible:
[code]

This is because of missing instruction to cd into /root/selinux_scripts, but after that is done we get another error:
[code]

And that showed me that indeed:
[code]

However looking at the console I do see

[2019-04-09 20:32] simo5 commented on #86
Of course the following tests with curl also fail to reach selinux5

[2019-04-09 20:33] simo5 commented on #86
And the rest of lab 2.3 fails all parts where selinux5 is mentioned too

[2019-04-09 20:35] simo5 commented on #86
The reason seems to be selinux5 came up with IP 192.168.0.37 instead of 192.168.0.6 as indicated in selinux1's /etc/hosts file.
I did not try to fix this as I wasn't sure the meachine was correct anyway and did not want to break other exercises.

[2019-04-09 20:39] simo5 opened #87 "Lab 2.3.2 Turning SELinux On"
Incorrect denial "termshot" in lab

At point 3 the denials showed are not the denials you get on the machine which currenl;y atew a denied {read} and a denied {map}

[2019-04-09 20:39] simo5 commented on #87
Exercise 2.3.3 at this point becomes moot as the denials being remediated are incorrect.

[2019-04-10 14:47] simo5 opened #89 "Selinux Lab 2.3.4 issues"
- vim is not installed on the machine :-P

- point 2 shows the output of 'cat setup-selinux.yml', the output in the docs differs substantially from what's on the actual VM, in that all vars are missing on the actual lab machine. however the file name setup-selinux.yml.final has all the right content.

- running the ansible with the .final file seem to work except for selinux5 as noted on a previou

[2019-04-10 15:01] wrabcak commented on #86
Thanks,
Only issue is different IP address should be fixed in next blueprint.

[2019-04-10 16:21] wrabcak commented on #89
- Vim installed on the system

- setup-selinux.yml removed and setup-selinux.yml.final renamed to setup-selinux.yml

- selinux5 will be fixed in next blueprint

- There is no script, but lab 2.3.5 verifies if the ansible playbook works.

Based on my comments, I think everything is fixed/handled.

Thanks a lot for review.
Lukas.

[2019-04-10 16:26] #89 closed

[2019-04-10 16:27] lkerner commented on #89
Closed per request of wrabcak.

[2019-04-10 17:08] simo5 opened #92 "NBDE LAB 3.5"
After reboot the system does not automatically unlock.
I see no evidence that tang is actually being contacted on NBDE1

[2019-04-10 17:10] simo5 commented on #92
Ah eventually it did, please add in the instructions that the cryptsetup prompt may be shown for up to X seconds (my guess is more than a minute) and to be patient and wait.

[2019-04-10 17:36] #85 closed

[2019-04-10 17:36] #86 closed

[2019-04-10 17:37] #87 closed

[2019-04-10 17:37] lkerner commented on #92
@dkopecek , @sabbaka thoughts?

[2019-04-10 17:38] simo5 opened #93 "Ipsec Lab issues"
Lab 4.3 at point 2, the third command fails:
[code]
This is because we are logged into the woirkstation as lab-user, while the command seems to imply we should be logged in the ipsec1 machine.

Lab 4.4 at point 4:
the ping command returns 100% packet loss

Lab 4.4 at point 5:
presumambly because of the above only outBytes reports non-zero.

Lab 4.5 at point 4:
the tcpdump command won't work, it re

[2019-04-10 17:46] simo5 opened #94 "USBGuard lab issues"
- Lab 5.1.1
  the demo VM starts but it spews a bounch of errors that USBguard daemon could not be started

- Lab 5.1.2 at step 1, failure:
[code]
using journalctl-xe will yield broken output due to the VM console, using it |less makes it readbale:
[code]

Could not continue demo.

[2019-04-10 17:49] simo5 commented on #94
Addendum: PLEASE explain clearly how to disconnect from the virsh console in the instructions. The combination is ctrl+shift+] but it is not obvious and required googling which will not be available in the sumit lab)

[2019-04-10 19:20] lkerner commented on #94
@dkopecek tagging you on this issue.

[2019-04-10 19:21] lkerner commented on #93
@letoams tagging you on this issue

[2019-04-10 19:22] lkerner commented on #84
@dahaic can you solve by the evening of Thurs April 11 when I make the blueprint for the Friday April 12th testing that Eduard organized?

[2019-04-10 19:22] lkerner commented on #59
has this been fixed @dahaic ?

[2019-04-10 20:29] simo5 opened #95 "Audit Lab issues"
- Lab 6.1 the password for auditlab user is not specified (turns out it is the usual r3dh4t1!) but it is requested to login from the workstation countrary to instructions.

-Lab 6.2 through 6.3.4
  there is no success critieria shown, most labs ask you to perform actions but do not tell you how to validate they actually did anything useful, 6.3.2 does not give examples of what people should see no

[2019-04-10 20:41] letoams commented on #93
I'll pick this up in the morning (I'm still in CET).

[2019-04-10 20:42] simo5 opened #96 "AIDE Lab issues"
- Lab 7.4 point 4:
the output of the command in the "termshot" differs from what you get on the actual machine, enough to confuse users.

- Lab 7.4 point 6:
the output of the command in the "termshot" differs from what you get on the actual machine,  the cwd report is /home/student but should be /root

- Lab 7.4 point 10:
reboots are reallly slow, students should be warned to wait

[2019-04-10 20:51] lkerner commented on #95
@stevegrubb and @rgbriggs please take a look at this issue

[2019-04-10 21:38] simo5 opened #97 "IdM lab issues"
- Lab 8.1 point 2:
The first screenshot does not match actual usage, the current screenshot shows that you need to type "admin" to log in, the actual usage is that a user named "Administrator" is shown and can be clciked upon.

- Lab 8.1 point 3:
It may be worth preparing a desktop link that opens Firefox on the correct idm page right away (better user experience).
Also note that no login (as show

[2019-04-10 21:57] simo5 opened #98 "Firewalld Lab issues"
- Firewalld lab mentions iptables in various places (including the schematic image), but apparently RHEL8 is using nftables now..

-Lab 10.4 point 3:
output of --list-services shown differs from the machine. actual output includes cockpit:
[code]
Also last pioint 4 shows no output for --list-services but should show
[code]
(same for following examples later on)

[2019-04-10 22:01] simo5 commented on #98
Also the lab doc does not link to the following lab like others do

[2019-04-10 22:15] simo5 opened #99 "cryptopolicies lab issues"
- IP address for crypto2 hosts in /etc/hosts files is broken, and this causes all the lab to fail right away: needs to be changed to 192.168.0.40, that IP is now reserved for crypto2

- httpd service fails to start on boot on crypto2 due to timeouts: add instructions to tell users to start it manually?

[2019-04-11 08:31] mjahoda commented on #96
AIDE is an acronym for Advanced Intrusion Detection Environment (not Audit Intrusion Detection Environmet) as written several times in https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/RHELSecurityLab/documentation/README.adoc

[2019-04-11 08:41] letoams commented on #93
@lkerner it seems that I cannot get my guid for testing? It assigned me 4eaf, and then instructed me to:

ssh lab-user@workstation-4eaf.rhpds.opentlc.com

but that DNS entry does not seem to work at all. Looking in detail, it seems to be a CNAME record:

workstation-4eaf.rhpds.opentlc.com. 100	IN CNAME 0workstation-summitsppgenericte-vpiyflxp.srv.ravcloud.com.

but that CNAME target itself is non-

[2019-04-11 11:25] dahaic commented on #59
I have rephrased some parts, and explained abbreviations used at first occurence, in PR #78 @dkopecek can you check the changes, if they are easier to understand now?

[2019-04-11 16:21] #84 closed

[2019-04-11 17:06] simo5 opened #104 "Session Recording Lab 12 issues"
- Doc style is not in line with the rest of the labs, numbered sections are missing for example.

- at the third(?) step we get a failure, can;t enable cockpit:
[code]
This is because cockpit is not installed on the system and the previous install commands do not drag it in as a dependency

- at the fourth(?) step there are no proper instruction to log into the workstation console to open the brow

[2019-04-11 17:48] lkerner opened #105 "Make Lab0 more clear on how to access lab console/power on button"
@lkerner

[2019-04-11 18:24] letoams commented on #93
I added an instruction to wait a few seconds after starting the service that seems to prevent the race condition Simo ended up in.

[2019-04-11 18:48] letoams commented on #99
I tried this lab too, and also do not see the entry in /etc/hosts or DNS, so I cannot find the machine. Also for me it is not 192.168.0.40 so I cannot login via IP address either.

[2019-04-11 19:01] letoams opened #107 "SElinux lab issue"
I logged into selinux1.example.com twice as the instructions said, then tried the first exercise but I get:

[root@selinux1 selinux_scripts]# ./shellshock_exploit.sh
curl: (7) Failed to connect to 192.168.0.24 port 80: No route to host
[root@selinux1 selinux_scripts]#

I then fired up all the VMs with "selinux" in the name just in case (I had only started the first one) but that did not make a dif

[2019-04-11 19:43] simo5 commented on #99
This night the new blueprint should fix it, however if you want to try to fix it, simply open the console of 9crypto2 and type ip addr
note down the IP, then go back to crypto.example.com and edit /etc/hosts to fix the IP address of all the test names.

[2019-04-11 19:43] simo5 commented on #99
Closing as fixed in dev env

[2019-04-11 19:43] #99 closed

[2019-04-11 20:21] simo5 opened #108 "Custom Security Content lab1 issues"
- in the "Hands on" section "before you start" the instructions say:
[code]
There is no lab1_introduction directory, there is a lab0_introduction one though

- in "Build the content" section instructions say: "Run make to compile content for all applicable products. A product may be either an OS s.a. RHEL8, RHEL7, Fedora etc"
running make RHEL8, make RHEL7 or make Fedora, each fail because the Mak

[2019-04-11 20:34] simo5 commented on #108
Also the guide does not say how to log in the machine (the password should be explicitly stated (r3dh4t1!)

[2019-04-11 20:34] simo5 opened #109 "Custom Security Content lab2 issues"
This lab cannot be done at all, there is no workstation to log into.

[2019-04-11 20:37] lkerner commented on #109
Specifically Track 2: Scanning Using OpenSCAP and Scap Workbench. This is a blind copy of the RHEL security lab and must be updated to reflect the Custom Security Lab environment. @dahaic @matejak

[2019-04-12 08:02] matejak commented on #109
This is expected, the lab track has been taken from the Lucy's lab, and it not been edited yet.

[2019-04-12 09:36] lkerner commented on #107
@wrabcak please take a look

[2019-04-12 10:04] lkerner commented on #105
fixed.

[2019-04-12 10:04] #105 closed

[2019-04-12 10:16] dkopecek commented on #59
LGTM

[2019-04-12 10:20] dkopecek commented on #94
@simo5 Thanks for testing! I'll have to add a `chmod` step to the doc to have correct permissions on the file.

[2019-04-12 10:47] zpytela opened #112 "Lab1 OpenSCAP: unclear instructions"
This instructions is not clear - Lab 1.1:

Where can I find the Lab Information webpage?

[2019-04-12 10:56] jvymazal commented on #95
At section 6.2.1 there is step 3 to edit audit config, however the configuration file present in snapshot is already updated per the commands so the editing (and subsequent reload/restart of daemon) is quite needless.

[2019-04-12 11:04] wrabcak commented on #107
For shellshock part of the lab, also selinux4 must be started and ready. I tried it, it it works for me.

[2019-04-12 11:05] wrabcak commented on #107
I'm suggesting to close this ticket.

[2019-04-12 11:23] jvymazal commented on #95
regarding the "no file" error from tps_report, perhaps preceding `vi ` command should instruct to use `:wq` instead of `:q!` to exit? (that way everything works)

[2019-04-12 11:35] ggbecker commented on #95
+1 on auditlab user asking for password

[2019-04-12 11:45] ggbecker commented on #95
Section 6.2.1:
Fix `the_audit.example.com_` string to `the _audit.example.com_`

[2019-04-12 12:01] ggbecker commented on #95
It looks like this is actually the default configuration for auditd.conf.

[2019-04-12 12:17] ggbecker commented on #95
The title says Red Hat Enterprise Linux 7.5 even though the lab is run entirely in RHEL8. Suggest to remove the specific version 7.5.

As I understood Summit is mainly promoting RHEL8 whenever possible.

[2019-04-12 12:31] ggbecker commented on #98
Low resolution image:

[2019-04-12 12:38] ggbecker commented on #98
iptables is a symlink to xtables-nft-multi
`ls -la /sbin/ | grep tables`
`lrwxrwxrwx.  1 root root      17 Feb  8 11:44 iptables -> xtables-nft-multi`

[2019-04-12 12:55] ggbecker commented on #98
firewall-cmd --list-services is returning cockpit in the list as well. The lab doesn't mention this in the results. It seems it is previously configured in the VM. remove it before final snapshot.

[2019-04-12 13:39] matejak commented on #108
The first issue was caused by description/VM discrepancy, which has been fixed on the VM side.

[2019-04-13 02:05] rgbriggs commented on #95
On 2019-04-12 04:23, jvymazal wrote:

Or just 'touch project_tps_report.txt'?

[2019-04-14 21:51] stevegrubb commented on #95
Pull request #121 was opened to fix some of the things pointed out here.

[2019-04-15 09:41] sabbaka commented on #104
I am bit confused about no cockpit presence. It is a part of rhel8 base os. I just checked this on latest rhel compose and it's there. I will check this in our summit's VMs.

[2019-04-15 09:44] sabbaka commented on #104
I am confirming that for some reason there is no cockpit installed by default on VMs for summit.

[2019-04-15 09:50] #109 closed

[2019-04-15 09:50] #108 closed

[2019-04-15 09:56] #59 closed

[2019-04-15 13:22] matejak opened #123 "Custom content lab - unify shell session formatting"
It is not clear how to format shell sessions. The ideal way would be to use the `pygments` highlighting backend that is supported by asciidoc, and use the

[code]

syntax.
This seems to be a good choice even when pygments are not supported on the Gitlab instance that we get later.

- [x] Check whether `pygments` are supported, so the `[code,shell-session]` could be used with snippets.
- [x] Unify

[2019-04-15 15:33] matejak commented on #123
There is no adoc support for code syntax highlight on GitLab whatsoever - see https://gitlab.com/redhatsummitlabs/automate-your-security-by-creating-custom-security-content/tree/pygments

[2019-04-15 18:38] rgbriggs commented on #95
Why did you drop the change from "killall ..." to "service audit reload" in the last of those three patches that went into the PR?  (I had most of these fixes queued...  I'll diff and see if any remain.)

[2019-04-15 21:36] stevegrubb commented on #95
Because using the service command is the way that we tell everyone to use the audit system.

[2019-04-15 21:37] rgbriggs commented on #95
@stevegrubb When you say (lines 26-27): "If done correctly, you should not need to enter a password."  What is the correct way?  Should there be no password on root and auditlab, or should it use the pre-installed ssh key?

[2019-04-15 21:46] stevegrubb commented on #95
Paul wrote that - not me.  :-)  It also seemed to work for me so I didn't change it. I think it uses the pre-installed key.

[2019-04-15 22:44] rgbriggs commented on #95
On 2019-04-15 14:36, Steve Grubb wrote:

Sorry, I don't follow.  The last patch that ended up in the pull request does *not* have the switch to "service audit reload", and I thought the service command was the preferred way you just confirmed above.  The desired change got left out of the 3rd patch.

[2019-04-15 22:46] rgbriggs commented on #95
On 2019-04-15 21:46, Steve Grubb wrote:

It might to get into the bastion host, but not for getting into audit.example.com since the keys weren't there (I've added them in case).  I'll clarify it in my current doc edit.

[2019-04-15 22:48] pbeniari commented on #96
Will correct as soon as I get access to edit the doc in Github

[2019-04-15 23:34] stevegrubb commented on #95
I guess that was missed by mistake. Service is preferable.

[2019-04-16 00:31] pbeniari commented on #96
Corrected

[2019-04-16 00:45] pbeniari commented on #98
should be good now, just cleaned it up

[2019-04-16 00:52] pbeniari commented on #97
Agree with 8.5 point 16, not sure why its there.  Out now.  As for 8.1 point 2, admin is the user name for IdM.

[2019-04-16 06:53] sabbaka commented on #104
So, about vim should I install it to the VM or should I write about vim installation in the lab? I thought vi is default way for these labs. In other labs vi is being used as well.

[2019-04-16 07:14] sabbaka commented on #104
I added text to install vim optionally.

[2019-04-16 14:25] yuumasato opened #131 "CustomSecurityContent - lab5"
In `Before you start` section there is no screenshot.

Typos: `excercise`

In `Bash remediation` section, it reads `as you know from the introductory lab`.
As the exercises should be independent, wording should be different, and bullet points updated with full instructions to open HTML guide.

In `OVAL check` section, I suggest to add comments in the snippets, or an image with arrows pointing out

[2019-04-16 16:09] ggbecker opened #135 "CustomSecurityContent improvements"
1 - Custom Security Lab 0 - How to
Suggest to use Paste Text functionality from Ravello to input the password

2 - Introduction Structure suggestions:

Change the way how what is already learned and what has been done for the user is presented (from lab2):

What will you learn -> What you will learn

... what possibilities do you have for remediations of failing rules. -> what are the possibilitie

[2019-04-16 17:01] sabbaka commented on #104
I think I have addressed and fixed issues described here in https://github.com/RedHatDemos/SecurityDemos/pull/126

[2019-04-17 13:34] #94 closed

[2019-04-17 14:14] dahaic opened #143 "Proposal to make IdM lab smaller"
As it current stands, IdM lab will take attendee quite a big chunk of the lab time, when 8.4 (groups) is (From the perspective of learning potential) carbon copy of 8.3 (users) and 8.5 has just slight alternations. I was struggling a bit to keep focused during 8.5 :)

My proposal is to *remove* both 8.4 and 8.5 to make lab more approachable. This will enable attendee to check other cool technologi

[2019-04-17 14:22] ggbecker commented on #135
This should be addressed by https://github.com/RedHatDemos/SecurityDemos/pull/142/commits/f4786130d3794b09580085c0628588efd4df2595

[2019-04-17 15:41] yuumasato opened #147 "CustomSecurityContent - scan with customized profile"
People often ask about scanning with customized profile using oscap.

And a tricky part of it is that the ID of the customized profile is different from original profile.
Should this be considered in the scope of the labs?

If yes, I would suggest to put more emphasis during [customization](https://github.com/RedHatDemos/SecurityDemos/blame/master/2019Labs/CustomSecurityContent/documentation/lab2_

[2019-04-17 22:10] pbeniari commented on #112
Pre-Configured Set Up Steps Section 2.  I recently attended a RHEL 8 overview with the BU and they want customers to continue to use the yum command as opposed to the dnf command.  Their rationale was yum will call dnf but also include enhancements they have built in.  yum is a symbolic link to dnf-3.  Not a big deal, but wanted to pass that along.

[2019-04-18 01:23] pbeniari commented on #92
I encountered the same issue where the system did not automatically unlock after reboot.

[2019-04-18 06:10] dkopecek commented on #96
This is fixed, see:

https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/RHELSecurityLab/documentation/lab3_NBDE.adoc#lab-35-reboot-nbde3-and-test-that-nbde-was-successfully-configured

I wrote 2 minutes there as that was my "worst case" experience when testing the lab.

[2019-04-18 06:12] dkopecek commented on #92
@lkerner, this is fixed, see:

https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/RHELSecurityLab/documentation/lab3_NBDE.adoc#lab-35-reboot-nbde3-and-test-that-nbde-was-successfully-configured

I wrote 2 minutes there as that was my "worst case" experience when testing the lab.

[2019-04-18 09:57] yuumasato commented on #147
I cannot assign issues, so ping @matejak and @dahaic.

[2019-04-22 19:55] simo5 commented on #92
Tested Resolved

[2019-04-22 19:55] #92 closed

[2019-04-22 20:03] simo5 commented on #93
@letoams I just repeated the lab.
I waited about 5 seconds after starting ipsec on both hosts
ping still fails

please provide instruction to figure out when it is safe to start pinging
also provide instructions on what to do if someone jumps the gun and ping "early", how do I fix the machine ?

[2019-04-22 20:07] simo5 commented on #93
I attempted to resolve the issue by stopping ipsec on both hosts.
When I do that ping works fine.
So I restarted ipsec on both hosts and waited a full minute.
Ping still fails.

At this point it is not aboutwaiting a few seconds, seem l;ike something is wrong in the instructions and I end up with some configuration issues.

Please advise.

[2019-04-22 20:12] simo5 commented on #93
When trying to follow troubleshooting (the two commands I run on ipsec2 were: ipsec auto --add private; ipsec whack --shuntstatus) I ended up pinging from the other host as on ipsec2 I had tcpdump occupying the shell.

And suddenly everything started working.

Is it possible *both* ends need to initiate some packet sending before ipsec decides to work ?

[2019-04-22 20:13] simo5 commented on #93
I noticed that for some reason, in my tests I always started pinging from ipsec2, not ipsec, is that a problem?

[2019-04-22 21:26] simo5 commented on #98
lab still does not link to next one

[2019-04-22 21:38] simo5 commented on #104
Now user 'q' already exist, but password is unknown

[2019-04-22 21:39] simo5 commented on #104
(It's not the one in PR#126)

[2019-04-23 09:10] #123 closed

[2019-04-23 09:25] dahaic opened #151 "NBDE Cockpit issues"
There are three main issues:
1) I was not able to complete it! The "keys" section of encryption tab was not there in my case
2) I believe it's worth having it merged with NBDE lab. (I mean one text, but separate machines, as it is now). First part on `nbde1` node is the same, as well as the introductory text.
2b) If not merged, link needs to be added to the Table of Contents
3) format is a bit off

[2019-04-23 09:26] dahaic commented on #151
@sabbaka I cannot assign you, so noticing you this way ^^ :)

[2019-04-23 09:32] dahaic opened #152 "Sizing of the RHEL Security Lab tracks"
During my dry run, these are the times (focused, but taking notes for feedback, and I am not fast reader, should be fairly average)

OpenSCAP: 18 minutes
SELinux: 50 minutes
NBDE: 7 minutes (not counting waiting for auto unlock)
NBDE Cockpit: 10 minutes but not finished
IPSec: 15 minutes
USB Guard: 15 minutes
Audit: 22 minutes
AIDE: 15 minutes
IdM: I haven't re-run it, my first was, I believe, 60

[2019-04-23 09:39] dahaic commented on #152
@lkerner I believe, if we merge NBDE, we can write somewhere "Labs are usually 15 - 20 minutes, with SELinux and IdM being bigger - about an hour" Or don't use times of individual tracks, and say "All labs are about the same size, except SELinux and IdM being considerably longer to complete. Whole lab is about 4 hours of exercises."

[2019-04-23 09:59] lkerner commented on #152
Thanks for the timing breakdown @dahaic ! I think saying in the beginning something like  "All labs are about the same size, except SELinux and IdM being considerably longer to complete. Whole lab is about 4 hours of exercises." is a good idea. I will add this to the intro. Thanks.

[2019-04-23 15:47] #131 closed

[2019-04-23 16:03] #107 closed

[2019-04-23 16:03] lkerner commented on #107
closing per @wrabcak 's request + fix

[2019-04-23 16:48] dahaic opened #155 "Another batch of selinux track notes"
* PWNME - can we make it such that we know we were successful? Maybe can it iterate until it succeeds?
* runcescape - this is quite slow - is it possible to speed it up somehow? maybe by prebaking the container?
* also - in the script there is `docker` used and `dnf`. That does not compute for me :) `docker` is RHEL7 tool, `dnf` rhel8.
* DNS record is slightly different (`cat /etc/hosts`), there a

[2019-04-23 17:57] matejak commented on #135
The referenced PR has been merged.

[2019-04-23 17:57] #135 closed

[2019-04-23 19:45] dahaic opened #156 "Dryrun notes Content, part 1"
* RHEL8 recommends `yum`, not `dnf`
* it would be good to explicitly mention in text, that for second terminal you need right click the icon
* in Build 2. "For reference" this does not make sense - we just used it' what is there to refer to? :) For reference, if you build following official project guide, instead of `./build_product`, you build all content.
* in Examine the guides I would prefer n

[2019-04-23 19:46] dahaic commented on #156
FYI @matejak @jan-cerny

[2019-04-24 08:38] letoams commented on #93
those things should all not matter :/

[2019-04-24 10:40] dahaic commented on #93
When I tried, I had similar behaviour - sending ping one way was not enough, pinging from other host started working. But I have not tried too many attempts (just two). Also:

* When using tcpdump, it should be specified it's meant to be run on ipsec1 (tcpdump is installed only there).

[2019-04-24 10:41] dahaic commented on #95
These are mostly nitpics I found in latest trial:
* is there a reason for RHEL7.5 ? If yes, this should be explained. If not, we can say "but it does not matter, audit is the same as on RHEL8.0" or something. Basically acknowledging it's using not up-to-date system
* shouldn't `service` command be replaced by `systemctl`?
* shouldn't `grub2-mkconfig` be replaced by `grubby`?

[2019-04-24 10:43] dahaic commented on #96
My findings in latest trial:
* servera really looks like a typo, can we rewrite it as "Server A (servera)"? I know it's a nitpick, but it caught my attention
* security guide links to RHEL7 security guide - is that deliberate? Maybe acknowledge AIDE has not changed in the meantime
* 7.3 `vim aide.conf` in every step is not necessary - you already have it open
* "wording 'pressing :wq!' can be conf

[2019-04-24 10:44] dahaic commented on #98
My nitpicks from latest trial:
* 10.1.4 - a bit confused, I have just done this "start/enable" combo - if it does not work, repetition won't help
* 10.5.3 - `dd` is to remove one line, `dG` all lines till the end of the file
  * when we are removing whole content, what was the point of copying the file in a first place?

[2019-04-24 10:50] dahaic opened #158 "Issues in NBDE, USBGuard, GPG"
It's mostly nitpicks, but anyway:

NBDE
* sometimes LUKs is used, instead of full capitalization

USBGuard
* 'he/she' can be changed to 'they'
* the preconfiguration notes are a bit unclear, as there is "preliminary knowledge" section. It's still just FYI (you are not supposed to act on that), but it confused me a bit. I was not sure, if I am supposed to create those XML files or not

GPG
* what i

[2019-04-24 10:51] dahaic opened #159 "Nice to haves in Crypto Policies"
These are not show-stopper, but it made me wonder :)

* 11.1.4 - mention there is message about reboot printed into the terminal, maybe a good point to dive deeper why reboot is not needed this very moment
* is it deliberate to not mention per-package overrides at all? It would be good opportunity to mention it, and warn that it strongly

[2019-04-24 10:52] dahaic commented on #158
@dkopecek ^^ :)

[2019-04-24 10:53] dahaic commented on #159
@simo5 ^^ :)

[2019-04-24 10:56] letoams commented on #93
Yes I am working on it now :)

Sent from mobile device

[2019-04-24 11:06] wrabcak commented on #155
- PWNME - can we make it such that we know we were successful? Maybe can it iterate until it succeeds?
No, problem is that  we need to test it first in Enforcing (Where the attack is not sucessful) because container and host became useless after attack.

- runcescape - this is quite slow - is it possible to speed it up somehow? maybe by prebaking the container?
Probably not, container needs to be

[2019-04-24 11:43] letoams commented on #93
turns out this was due to firewalld :)
So I used the firewalld lab to figure out how configure firewalld for IPsec and added that to the IPsec lab instructions. I created a PR for Lucy

[2019-04-24 12:14] rgbriggs commented on #95
On 2019-04-24 10:41, Marek Haičman wrote:

That has been fixed already, hasn't it?

No need.  "service" works on both old and new distros.  In fact,
systemctl may not work since it doesn't give the accountability of who
initiated the action, IIRC.

[2019-04-24 12:20] dahaic commented on #155
On what system? in selinux1 I see this:

Yes, this is what I saw in the DNS records as well - in lab track, there are numeric IP addresses.

I don't know :( If it worked for you, I have probably forgot to switch on enforcing or something :)

[2019-04-24 12:21] #156 closed

[2019-04-24 15:18] wrabcak commented on #155
I'll try it again

[2019-04-25 00:01] stevegrubb commented on #95
For audit, service is a required command. We cannot move to systemctl. You will find systemctl is blocked for many audit tasks.

As for grub2-mkconfig vs grubby...I've always used grub2-mkconfig since it comes with the bootloader. They ought to work together.

[2019-04-25 02:30] pbeniari commented on #158
I change User ID to Real Name in the GPG doc.  Good catch, thanks.

[2019-04-25 02:30] #158 closed

[2019-04-25 02:34] pbeniari commented on #143
I always default to the CLI personally, but for first timers the GUI seems to be easier.  As for eliminating 8.4 and 8.5, rather than eliminate, perhaps we can place a comment in the docs that these sections are for more advanced use cases and are optional.

What do you guys think? @lkerner @simo5

[2019-04-25 02:41] lkerner commented on #143
Agreed @pbeniari . I think we need to make the lab for the most basic user...cause many times windows users even come to our lab at summit... and for those users yes, GUI is easier. I also don't think at this point we eliminate anything... just mark 8.4 and 8.5 as optional as @pbeniari said. Functionally is this IdM lab still working @pbeniari ?

[2019-04-25 02:49] pbeniari commented on #98
Cleaned up sections 10.1.4 by adding additional explanations.  As fir 10.5.3, we really don't need this section and I have removed it.

[2019-04-25 02:49] #98 closed

[2019-04-25 02:50] #97 closed

[2019-04-25 03:08] pbeniari commented on #96
Changed reference to servera as suggested.  Fixed link to RHEL 7 Security Guide to point directly to the chapter on AIDE.  I left the redundant vim commands alone, just in case they closed the file.  I changed pressing to typing.  .viminfo will change so I can put a reference in to explain that.  I added the step for altering the permissions of /etc/shadow.

[2019-04-25 03:08] #96 closed

[2019-04-25 17:07] simo5 commented on #159
I will try to address the reboot thing, I just avoided it because it is SLOOOOW.
I did not mention package overrides, because this is a lab excercise on using the crypto policies not a documentation guide :-)

[2019-04-26 10:58] dkopecek commented on #158
@dahaic is this sufficient? https://github.com/RedHatDemos/SecurityDemos/pull/171

[2019-04-26 14:08] dahaic commented on #158
Thank you @dkopecek ! Looks good to me.

[2019-04-26 14:08] dkopecek commented on #158
Ok, thanks for review!

[2019-04-27 18:51] lkerner opened #174 "cannot get to /home/lab-user/labs/lab2_openscap/content"
Custom Security Content Lab Exercise #2:
In the "Before You Start" section:

Cannot get to the 'content' directory... it does not exist :
/home/lab-user/labs/lab2_openscap/content

@matejak @dahaic @jan-cerny : Please fix

[2019-04-29 00:13] #174 closed

[2019-05-02 14:46] lkerner commented on #112
went through entire lab exercise and cleaned up wording and made instructions more clear per @zpytela 's suggestion. Also changed dnf to yum to follow RHEL BU advice. FYI: @dahaic and @matejak .

[2019-05-02 14:46] #112 closed

[2019-05-03 10:04] sabbaka commented on #151
This was resolved. We can close the issue.

[2019-05-03 10:04] sabbaka commented on #104
This was resolved. We can close the issue.

[2019-05-03 14:07] sabbaka commented on #104
@lkerner it's fixed.

[2019-05-03 14:07] sabbaka commented on #151
@lkerner it's fixed.

[2019-05-03 14:10] wrabcak commented on #152
@lkerner  is this fixed?

[2019-05-03 14:44] wrabcak commented on #155
@lkerner, PR merged  with
96d8a4b

[2019-05-03 21:16] #155 closed

[2019-05-03 21:17] #159 closed

[2019-05-04 15:28] lkerner commented on #147
@matejak @dahaic : as discussed please put this as a note or comment in our lab doc.

[2019-05-04 15:28] #151 closed

[2019-05-04 15:29] #104 closed

[2019-05-07 02:27] lkerner commented on #152
fixed. added timing to beginning of each lab exercise.

[2019-05-07 02:27] #152 closed

[2019-05-07 02:28] lkerner commented on #143
made 8.4 and 8.5 optional

[2019-05-07 02:28] #143 closed

[2019-05-07 02:29] #93 closed

[2019-05-07 02:30] #58 closed

[2019-06-14 06:40] lkerner commented on #95
@stevegrubb and @rgbriggs : is this issue now resolved?

[2019-06-14 06:41] lkerner commented on #147
@matejak @dahaic : is this issue now resolved?

[2019-06-14 12:09] stevegrubb commented on #95
Looks like it says 8.0 now. I suppose that could be changed to simply 8.

[2019-06-14 12:15] matejak commented on #147
This is not an issue, but an enhancement idea. We went different way for our labs, but if there is a surplus, the OpenSCAP lab exercise can be expanded to be more focused on tailoring.

[2019-06-14 12:34] lkerner commented on #147
Ok I will close this since like @matejak says this is not an issue but an enhancement idea.

[2019-06-14 12:34] #147 closed

[2019-06-14 12:37] lkerner commented on #95
@stevegrubb , not sure what you mean by 8.0 vs 8. Is this still an issue that needs to remain open for fixes or can I close this issue?

[2019-06-14 14:07] stevegrubb commented on #95
I think the concern mentioned above is that the content mentions 8.0 which is version specific. When 8.1 ships, will this content still be correct? By deleting the ".0" it makes it generic for all releases of RHEL 8.

[2019-06-14 19:02] stevegrubb commented on #95
@lkerner, I submitted a pull request. I think issue can be closed when that is merged.

[2019-06-28 18:37] lkerner commented on #95
Thanks @stevegrubb . Closing issue based on pull request #194 by @stevegrubb .

[2019-06-28 18:37] #95 closed

[2019-07-09 19:22] jwildman opened #195 "OpenSCAP Lab 1.3, step 6 suggest using search"
What it says.

[2019-07-09 20:34] jwildman opened #196 "Use less or more instead of nano"
no need to edit.  Even windows admins know less and more.

[2019-07-09 20:42] matejak commented on #196
Please indicate what lab/exercise is your issue related to.

[2019-07-09 20:44] jwildman commented on #196
Well it was the OpenSCAP one, and then the next step off the bottom was "edit the file"....so I didn't read far enough.

[2019-07-10 08:09] matejak commented on #196
OK, closing the issue.

[2019-07-10 08:09] #196 closed

[2019-07-10 11:00] matejak commented on #195
Could you please describe the issue in a sentence? The text you reference reads

and it is unclear what does it have to do with search.

[2019-07-10 12:53] jwildman commented on #195
As Lucy said, use the search to find the highlighted option rather than
scrolling through the list looking for the rule to change

On Wed, Jul 10, 2019, 07:00 Matěj Týč <notifications@github.com> wrote:

[2019-07-10 13:38] matejak commented on #195
I am sorry, but I don't know what Lucy said. The text I have quoted in my previous comment is step 6 in the [1.3 section](https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/RHELSecurityLab/documentation/lab1_OpenSCAP.adoc#lab-13-automated-security-remediations-with-openscap-and-ansible) of the OpenSCAP exercise in the RHEL Security lab.
That text doesn't relate to finding anything a

[2019-07-18 20:46] lkerner commented on #195
@jwildman , can you clarify?

[2019-08-05 22:45] rhjcd opened #200 "Lab 1 Section 1.3 Step 4"
@lkerner

**Problem:**
Currently worded:  "After the build finishes, we let’s re-examine the variable definition..."

**URL:**
https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/CustomSecurityContent/documentation/lab1_introduction.adoc

**Suggested Fix:**
"After the build finishes, let’s re-examine the variable definition..."

[2019-08-05 22:48] rhjcd opened #201 "Lab 1 Section "Remediations" (bottom of page)"
**@lkerner

Problem:**
Currently worded: "Congratulations, by completing the lab exercise, you became familiar with the leading content creation tool and largest open-source repository and in existence...."

**URL:**
https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/CustomSecurityContent/documentation/lab1_introduction.adoc

**Suggested Fix:**
"Congratulations, by completing the la

[2019-08-05 22:58] rhjcd commented on #200
PR for rhjcd:patch-1

[2019-08-05 22:58] #200 closed

[2019-08-05 23:00] rhjcd commented on #201
pr for rhjcd:patch-2

[2019-08-05 23:00] #201 closed

[2019-08-05 23:07] rhjcd opened #205 "lab 5 section 5.6.5"
@lkerner

**problem:**

[lab-user@workstation-3dcb lab5_oval]$ sudo tests/test_suite.py rule --container ssg_test_suite --datastream build/ssg-rhel7-ds.xml accounts_tmout
/usr/bin/env: ‘python2’: No such file or directory

**Should specify python3 in command like this?:**     …lab5_oval]$   sudo python3 tests/test_suite.py rule ….

But I get a password prompt with python3 added to the command :

l

[2019-08-05 23:09] lkerner commented on #205
@matejak , @dahaic , @yuumasato : please review.

[2019-08-06 12:55] matejak commented on #205
This is a bad permission on the root's SSH key, which has to be fixed by a VM redeployment.

[2019-08-06 15:23] matejak commented on #205
It should be fixed in the newly deployed VMs, so please check (and see also #207, which fixes the Ansible setup).

[2019-08-06 20:40] rhjcd commented on #205
@lkerner @matejak
Thank you very much for your assistance and attention to this. The issue is resolved.

[2019-08-06 20:40] #205 closed

[2019-08-07 01:00] jwildman commented on #195
Sorry for the confusion.  When you bring up the workbench and go to modify the suggeted setting, I believe it says something like "find the entry" or "modify the entry" for some long string.  There is a search funtion in the top right? that can be used.  Lucy pointed this out in class after several of us had spent time scrolling up and down through the entries trying to find the correct one.

[2019-08-07 23:19] rhjcd opened #208 "Labs 1 - 12 Time-To-Completion"
@lkerner

Lab 1: ~10 minutes
Lab 2: ~15 minutes
Lab 3: ~12 minutes
Lab 4: ~8 minutes
Lab 5: ~11-12 minutes
Lab 6: ~10 minutes
Lab 7: ~10 minutes
Lab 8: ~12 minutes
Lab 9: ~11-12 minutes
Lab 10: ~13 minutes
Lab 11: ~14 minutes
Lab 12: ~11 minutes

[2019-08-07 23:33] rhjcd opened #209 "Lab 8.1 Step 2"
@lkerner

I was required to update expired admin password in the web UI. I updated it keeping it the same = r3dh4t1!

[2019-08-09 15:47] lkerner commented on #209
@pbeniari , can you take a look at this? do u think this needs to be fixed before the global Red Hat Tech Exchanges which start on Sept 16, 2019? Thoughts?

[2019-08-12 16:56] #195 closed

[2019-08-21 23:37] lkerner opened #225 "suggestion : add icmp lab exercise to RHEL security lab"
suggestion to add icmp lab exercise

[2019-09-04 16:37] dahaic opened #237 "Step to prepare / fix Custom Content / lab5"
VM should have OVAL degraded to the old pre-jinja level to work as intended, this command does that:

[code]
Should get incorporated into Ansible Playbook

[2019-09-04 16:49] dahaic commented on #237
Other command:
[code]

[2019-09-13 12:19] #237 closed

[2019-09-17 23:44] lkerner commented on #208
done. added estimated numerical times to complete each lab in each lab exercise.

[2019-09-17 23:44] #208 closed

[2019-09-17 23:50] #209 closed

[2019-09-19 07:45] eraser215 opened #239 "Screenshot does not match text for HTML guide"
In the following page:

https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/CustomSecurityContent/documentation/lab1_introduction.adoc

Step 1.2.1 description refers to ssg-rhel8-guide-ospp.html
Step 1.2.1 item v refers to ssg-rhel8-guide-ospp-rhel8.html, and then has a screen shot that does not match.

Suggested Fix: All references should be to ssg-rhel8-guide-ospp-rhel8.html

[2019-09-19 08:17] lkerner commented on #239
@matejak @dahaic @yuumasato : can you take a look and fix?

[2019-09-19 08:24] dahaic opened #240 "Screenshot is outdated in Content ... 2.4 (OSPP - is not there)"
SSIA

[2019-09-25 09:49] #240 closed

[2019-10-03 13:06] matejak commented on #239
Fixed by VM redeployment based on proposal #243

[2019-10-03 13:06] #239 closed

[2019-10-10 19:21] utf-x commented on #225
bump.

[2019-10-14 11:46] ggbecker opened #246 "Broken reference link on CustomSecurity lab"
Part of the link was removed during doc review thus leading to a non existent page, see link below:

https://github.com/RedHatDemos/SecurityDemos/commit/9e08bfef7e7211b30c66eac4a7ae95eecb6ea467#r35487052

[2019-10-16 17:34] tmichett opened #247 "[rfe][suggestion] Modify Workstation machine to have gnome-tweaks installed"
Modify the workstation VM to have gnome-tweaks installed. Even better, go further and enable some of the maximize/minimize, window list, context menus on the workstation to make it perform more friendly in ravello (easier navigation of gnome3 on RHEL8).

[2019-10-16 18:08] tmichett opened #248 "[bug] Fix documentation for lab 4"
Need to instruct person to switch to the  **lab4_ansible** directory. This needs to be first instruction in 4.2.

**/home/lab-user/labs/lab4_ansible**

[lab-user@workstation-r8338 labs]$ cd lab4_ansible/
[lab-user@workstation-r8338 lab4_ansible]$

https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/CustomSecurityContent/documentation/lab4_ansible.adoc

[2019-10-31 16:21] #246 closed

[2019-11-16 11:49] lkerner commented on #248
fixed with above commit

[2019-11-16 11:49] #248 closed

[2020-03-04 17:54] lkerner commented on #247
@ggbecker @matejak : can you guys review to see if we should add this to our 2020 Summit custom security lab?

[2020-03-04 17:55] lkerner commented on #225
@bachradsusi @wrabcak : what do you guys think? do we have time to add this to our 2020 Summit lab? My guess is no due to all the ansible migration work we are doing. Please confirm.

[2020-03-04 17:59] tmichett commented on #247
@lkerner -

I've been working on this exact same thing for the GLS training courses. I created a playbook that installs Gnome tweaks and performs the necessary settings to make the WS more friendly.

[2020-03-04 18:00] tmichett commented on #247
---
- name: Installation of Gnome-tweaks
  hosts: "{{ variable_host | default('Instructor') }}"

  tasks:
    - name: Install Gnome-Tweaks
      yum:
        name: gnome-tweaks
        state: present

- name: Gnome-Tweaks Settings
  hosts: "{{ variable_host | default('Instructor') }}"
  remote_user: "{{ variable_user | default('kiosk') }}"

  tasks:
    - name: Complete Gnome-Tweaks Settings for E

[2020-03-04 18:03] tmichett commented on #247
@lkerner -

I just created a new repo and threw the file in there as I figured that would be easiest way to get.

https://github.com/tmichett/AnsiblePlaybooks/blob/master/Gnome/gnome-tweaks.yml

[2020-03-05 07:39] wrabcak commented on #225
Confirming we have no time for it.

[2020-04-16 11:33] Tronde opened #312 "Sorry, there are no available GUIDs for lab SECURITYMA3"
Hi,
I found a link to this project in [section 7 of the RHEL 7 Security Guide](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/security_guide/scanning-the-system-for-configuration-compliance-and-vulnerabilities_security-hardening). Trying to setup the lab failed with the message:

Is this why the lab is not public available for everybody or any other reason? I couldn'

[2020-04-16 11:43] ggbecker commented on #312
The lab environment provided by RedHat is not available publicly. But there is an option to run the same lab using the same instructions on a Fedora virtual machine. The instructions on how to create the Fedora VM you can find in the same repo but in a different file: https://github.com/RedHatDemos/SecurityDemos/blob/master/2019Labs/CustomSecurityContent/documentation/lab0_setup-devconf.adoc#0-4-s

[2020-04-16 11:46] Tronde commented on #312
Thanks a lot for pointing that out!

[2020-04-16 11:46] #312 closed

[2020-04-28 20:46] prabhashkuv opened #321 "Not able to download or clone"
fatal: cannot create directory at '2018Labs/RHELSecurityLab/selinux_scripts/roles/linux-system-roles.selinux/test/roles/selinux/test/roles/selinux/test/roles/selinux/test/roles/selinux/test/roles/selinux/test/roles/selinux/test/roles/selinux/test/roles/selinux': Filename too long
warning: Clone succeeded, but checkout failed.
You can inspect what was checked out with 'git status'
and retry with 'g

[2020-12-11 20:29] piggyvenus opened #351 "Lab4: need to update the hardcoded password for OCP user1 since the password is no longer "openshift""
This can be fixed by adding a parameter for the password of 'oc login' user1  from the jenkinsfile.

[2021-09-06 16:41] ptrnull opened #395 "[OpenShiftSecurity]In the lab 2.2 there are no network policies comming up. The list is empty."
In the lab 2.2 (https://github.com/RedHatDemos/SecurityDemos/blob/master/2020Labs/OpenShiftSecurity/documentation/lab2.adoc), when it comes to see the network policies, there are none, the screenshot attached shows how it is (it should contain the policies that the guide comments or guide should be corrected):
![Screenshot from 2021-09-06 18-40-25](https://user-images.githubusercontent.com/1756381

[2021-09-06 16:49] ptrnull opened #396 "[2020Labs/OpenShiftSecurity] In the lab 2.2.3 there is a screenhost of the full computer desktop"
https://github.com/RedHatDemos/SecurityDemos/blob/master/2020Labs/OpenShiftSecurity/documentation/lab2.adoc#lab-22-creating-network-policies-for-network-isolation

That screenshot should contain only the webpage.

[2021-09-07 07:42] ptrnull opened #397 "[2020Labs/OpenShiftSecurity] In the lab 3 there is no user specified to be used in the console."
In the lab 2.3 https://github.com/RedHatDemos/SecurityDemos/blob/master/2020Labs/OpenShiftSecurity/documentation/lab3.adoc#environment-walkthrough the text says:
[code]
But the lab is prepared with different users, which one should be used?

[2021-09-08 12:35] ptrnull opened #398 "[2020Labs/OpenShiftSecurity] In the lab 4 is the password for the user wrong?"
In the lab 4.1 (
https://github.com/RedHatDemos/SecurityDemos/blob/master/2020Labs/OpenShiftSecurity/documentation/lab4.adoc#lab-41-logging-into-the-environment) the password used for {USERID} for OpenShift and Gogs is different than the one used for Jenkins, is that correct?

[2021-09-08 13:28] marrober opened #399 "Commands to be copied with the copy button contain extra characters"
The oc commands in the lab guide can be copied for pasting into a command window. However they copy the entire block of text such as “[localhost ~]$ oc new-project myproject”. Can these be changed so that they don’t include the command prompt?

[2021-09-08 13:28] marrober opened #400 "Lab 1 - 1.1 - image is incorrect"
1.1 - Step 3 - When I click on the workloads tab I do not get the image shown. WIll be better to suggest that the user selects the developer context in the top left and then uses the add option on the left, and then container image.

[2021-09-08 13:29] marrober opened #401 "Lab 1 - 1.1 - image taken from older OCP ?"
1.1 - Step 4 - It looks like the images were taken off an older version of OpenShift as there is no longer the magnifying glass for the validation of the image - it happens automatically. Further to that I don’t get a warning that the container is running as root. OCP attempts to create the running pod but fails - as documented in the guide.

[2021-09-08 13:30] marrober opened #402 "Lab 2 - Need to guide the user to login as the correct account"
Tell the user to logout of admin and log back in as user1 before listing the projects with labels. Otherwise all OCP projects are listed.

[2021-09-08 13:30] marrober opened #403 "Lab 2 - step 2.1 - only one pod is shown"
Step 2.1 - 2 Only one pod is shown :
NAME                     READY   STATUS    RESTARTS   AGE
hello-59fc5987f8-s4z47   1/1     Running   0          21s
Also the step numbers seem to indent under step 8 - is this intended.

[2021-09-08 13:31] marrober opened #404 "Lab 2 - step 8 - repeated text"
Step 8 - substep 1 has repeated text “This returns this returns”

[2021-09-08 13:32] marrober opened #405 "Lab 2 - Projects a,b & c are not explained"
A diagram would be helpful to explain what is going to be attempted between projects a, b and c. It looks like we actually only need two projects so could this chapter be simplified ?

[2021-09-08 13:33] marrober opened #406 "Lab 1 - No default network policies found"
The lab indicates that there will be two network policies but m y projects did not have any.

[2021-09-08 13:34] marrober opened #407 "Lab 3 - first curl command has different response"
In this section I get a different error message when running the first curl command. I get :

curl: (60) SSL certificate problem: self signed certificate in certificate chain
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it,

[2021-09-08 13:34] marrober opened #408 "Lab 3 - incorrect text"
The text “There are multiple forms that identifies “ should be replaced with “There are multiple forms that identify”.

[2021-09-08 13:35] marrober opened #409 "Lab 3 - further explanation on webhooks and adminssion hooks"
Does the diagram in the section on the OpenShift API require further explanation - admissions and webhooks ?

[2021-09-08 13:35] marrober opened #410 "Lab 4 (old) - Jenkins pipeline error"
Jenkins image failed to start. Had to switch from custom-jenkins:latest to jenkins:2. The custom-jenkins image stream has zero images in my cluster.
Jenkins password for login of userX is wrong. Stated password is r3dh4t1! which should be changed to openshift.
Jenkins pipeline failed at the OpenSCAP phase :

[Pipeline] stage
[Pipeline] { (OpenSCAP Scans)
[Pipeline] script
[Pipeline] {
[Pipeline] }

[2021-09-08 13:36] marrober opened #411 "Lab 5 - step 2 - Cluster admin user"
Do we need to tell the user to login as cluster admin to install the operator ?

[2021-09-10 13:43] ptrnull opened #412 "[2020Labs/OpenShiftSecurity] got 0 errors in the sonarqube ecommerce app"
In the point 12 of the lab 4.4 https://github.com/RedHatDemos/SecurityDemos/blob/master/2020Labs/OpenShiftSecurity/documentation/lab4.adoc#lab-44-exercise-a-run-of-the-application-pipeline I was suppose to get 3 errors but instead I got 0, picture attached.
![devsecops_sonarqube_0errors](https://user-images.githubusercontent.com/1756381/132862787-1513ef9c-b4bd-4259-9f56-6f3a4f672697.png)

[2021-09-10 13:47] ptrnull opened #413 "[2020Labs/OpenShiftSecurity] My nexus doesn't have any maven-snapshot"
In the lab 4.4 https://github.com/RedHatDemos/SecurityDemos/blob/master/2020Labs/OpenShiftSecurity/documentation/lab4.adoc#lab-44-exercise-a-run-of-the-application-pipeline in the point 13 I can't see any maven-snapshots, picture attached.
![Screenshot from 2021-09-10 15-47-02](https://user-images.githubusercontent.com/1756381/132863355-378a9b02-86af-4e09-81ae-9f5e699b15e3.png)

[2021-09-10 14:01] ptrnull commented on #413
Solved after login with user admin. The instructions in the lab 4.1 https://github.com/RedHatDemos/SecurityDemos/blob/master/2020Labs/OpenShiftSecurity/documentation/lab4.adoc#lab-41-logging-into-the-environment about "no login necessary" are wrong.

[2021-09-10 14:06] ptrnull opened #414 "[2020Labs/OpenShiftSecurity] point 11 in lab4.5 needs to be clarified"
The point 11 in lab4.5 shows a poor description on how to create the application on codeready. The picture is not the same as we got in the lab.
![Screenshot from 2021-09-10 16-03-58](https://user-images.githubusercontent.com/1756381/132865963-98ed8500-27cf-4d59-971c-51198abad20c.png)

Also when creating & adding the application to codeready I'm getting an error:
Repo: http://user1:openshift@gogs-

[2021-09-10 15:41] ptrnull opened #415 "[2020Labs/OpenShiftSecurity] lab5 Lab Exercise Requirements"
The "Lab Exercise Requirements" from the lab5 speaks like it is an independent lab and doesn't make any reference to the rest of the training/lab.

[2021-09-17 10:30] ptrnull commented on #413
Lab 4 is going to be replaced by the new Roberto's CICD lab, closing this issue.

[2021-09-17 10:30] #413 closed

[2021-09-17 10:31] ptrnull commented on #414
Lab4 is going to be replaced by roberto's CICD lab, closing this issue.

[2021-09-17 10:31] #414 closed

[2021-09-17 10:31] ptrnull commented on #398
Lab 4 is going to be replaced by roberto's CICD lab, closing this issue.

[2021-09-17 10:31] #398 closed

[2021-09-20 15:48] rcarrata opened #420 "Lab 4 - Enhancement - Use Nexus Operator"
Use Nexus Operator for manage Nexus lifecycle

[2021-09-20 16:08] jgoldsmith613 commented on #411
they need to be cluster admin to perform most of the steps in the lab.

[2021-09-20 16:11] jgoldsmith613 commented on #415
It kind of was built to be completely independent of the rest. How do you think we should tie it in?  Just mention this can be part of a CI/CD pipeline as shown in lab 4, and some other tie ins?

[2021-09-20 16:15] rcarrata opened #421 "Lab 4 - Enhancement - Add secrets management for the labs"
Add secrets management for avoid to have in clear text the lab password. Could be tf vault, sealed secrets, etc

[2021-09-20 16:28] ptrnull commented on #415
@jgoldsmith613 I was trying my best with this PR: https://github.com/RedHatDemos/SecurityDemos/pull/417
Do you mind checking it?

[2021-09-20 18:04] jgoldsmith613 commented on #415
just reviewed.  changes look good to me.

[2021-09-21 11:29] rcarrata commented on #421
Also as James Scott pointed out -> consider using a secret rather than embedding the credentials admin and admin123 into the configmap just to emphasize best practices.

[2021-09-23 09:36] marrober commented on #400
Covered by pull request associated with #401.

[2021-09-23 09:36] #400 closed

[2021-09-23 10:44] marrober opened #425 "Lab 2 - No default policies found"

[2021-09-23 10:44] #406 closed

[2021-09-23 10:44] marrober commented on #406
Recorded against the wrong lab number. New issue created with the correct text.

[2021-09-23 10:45] #401 closed

[2021-09-27 14:35] #403 closed

[2021-09-27 14:35] #395 closed

[2021-09-27 14:35] #396 closed

[2021-09-27 14:35] #402 closed

[2021-09-27 14:35] #404 closed

[2021-09-27 14:35] #411 closed

[2021-09-27 14:35] #415 closed

[2021-09-27 16:12] ptrnull commented on #412
Old issue, the lab 4 has been totally replaced.

[2021-09-27 16:12] #412 closed

[2021-09-27 17:36] lkerner commented on #397
@sabre1041 can you take a look and fix accordingly?

[2021-09-27 17:55] lkerner commented on #397
Per my gchat, all the lab exercises are executed as cluster-admin. So I don't think there's an issue here. Let us know if we missed somethign @ptrnull

[2021-09-27 17:55] #397 closed

[2021-09-28 14:53] #225 closed

[2021-10-04 15:52] lkerner commented on #425
Resolved

[2021-10-04 15:52] #425 closed

[2021-10-04 15:52] lkerner commented on #399
Resolved

[2021-10-04 15:52] #399 closed

[2021-10-04 15:56] lkerner commented on #409
@sabre1041 can you take a look?

[2021-10-04 15:56] lkerner commented on #408
@sabre1041  can you take a look?

[2021-10-04 15:56] lkerner commented on #407
@sabre1041  can you take a look?

[2021-10-04 15:57] #351 closed

[2021-10-04 15:57] #321 closed

[2021-10-04 15:57] #247 closed

[2021-10-05 16:23] marrober commented on #409
Can't find the diagram to add more detail to explain this one.

[2021-10-05 16:23] #409 closed

[2021-10-05 16:51] #410 closed

[2021-10-05 16:53] lkerner commented on #405
resolved in PR

[2021-10-05 16:53] #405 closed

[2021-10-21 16:02] rcarrata opened #441 "Add the lab docs into the Gogs repository server"
Pull the instructions into GOGS in the lab so that we're resilient to GitHub issues

[2022-02-12 16:59] bakebossdev opened #455 "Lab 4 - Following bonus steps to fix vulnerability results in failed pipeline"
After following [these steps](https://github.com/RedHatDemos/SecurityDemos/blob/master/2021Labs/OpenShiftSecurity/documentation/lab4.adoc#fiximage) to fix the s2i task, the pipeline now fails at the "wait-application" step. The output contains a Go segmentation violation. I was unable to proceed to the pentest and performance testing sections of the lab.

I am unable to recover the logs (log files

[2022-02-12 17:07] bakebossdev commented on #455
I cannot tell if this error is only because I tried the bonus steps to fix the CVE, or if it would have happened anyway with using the ACS policy exemption. I do not how to undo the re-creation of the s2i task, so cannot confirm.

[2022-02-21 16:09] rcarrata commented on #455
hi @bakebossdev, thanks for raising this error. Let me try to reproduce it in one of our clusters and I'll update asap. Meanwhile, you can rerun the pipeline because seems to be a race condition in OpenShift GitOps / ArgoCD to me.

[2022-07-08 23:44] darbyredhat opened #473 "Lab 3 - OCP project is missing: rbac-lab"
The instructions for Lab 3, in the [Environment Walkthrough](https://github.com/RedHatDemos/SecurityDemos/blob/master/2021Labs/OpenShiftSecurity/documentation/lab3.adoc#environment-walkthrough) section, it tells us to verify the project `rbac-lab` is available. However, this project is not available.

I provisioned the workshop environments using _RHPDS: Catalog > Security Demos and Workshops > Se

[2022-07-08 23:47] darbyredhat opened #474 "Lab 4 - OCP project is missing: ocp-workshop"
The instructions for Lab 4, in the [Continuous Integration](https://github.com/RedHatDemos/SecurityDemos/blob/master/2021Labs/OpenShiftSecurity/documentation/lab4.adoc#lab-41-continuous-integration) section, it tells us to verify the project `ocp-workshop` is available. However, this project is not available.

I provisioned the workshop environments using _RHPDS: Catalog > Security Demos and Works

[2022-07-12 20:09] lkerner commented on #474
@dzilbermanvmw @piggyvenus @rcarrata can one of you take a look at this and submit the PR accordingly? Thanks

[2022-07-12 20:10] lkerner commented on #473
@sabre1041 can you take a look and submit the PR to fix accordingly?

[2022-07-12 20:11] lkerner commented on #455
@rcarrata any update on this? @dzilbermanvmw @piggyvenus can you guys also take a look? Thanks

[2022-07-12 20:12] lkerner commented on #407
@sabre1041 any update on this?

[2022-07-17 13:08] rcarrata commented on #474
@darbyredhat the lab4 is designed to work with admin user, because of the rbac and some of the tasks needs to have cluster-admin privileges. I've checked in one env in rhpds and for me with admin user, ocp-workshop is present. Can you please try with this user?

[2022-07-17 13:14] rcarrata commented on #455
@lkerner is fixed in https://github.com/rcarrata/devsecops-demo/issues/54, I need to push from upstream to the lab4 in agnosticd. This week (hopefully) I'll have time to adjust the lab4 and include some fixes around this.

[2022-07-17 13:15] rcarrata commented on #473
@darbyredhat as we commented in the https://github.com/RedHatDemos/SecurityDemos/issues/474, please try to login with admin instead of user, because this lab also needs user with elevated privileges to see certain repos.

[2022-09-09 19:27] dzilbermanvmw commented on #474
![Lab 4 - ocp-workshop-project](https://user-images.githubusercontent.com/42846514/189428056-a079525c-4639-4f3e-82bd-fe488d232460.jpg)
@darbyredhat: we are using the following repo for DevSecOps workshops: https://github.com/RedHatDemos/SecurityDemos/tree/master/2021Labs/OpenShiftSecurity/documentation
There is a pre-built lab in Red Hat RHPDS (https://rhpds.redhat.com/catalog/explorer) and Demo.r

[2022-09-09 19:34] dzilbermanvmw commented on #473
![Lab 3 - rbac-lab-project](https://user-images.githubusercontent.com/42846514/189429519-7719419f-4377-47f5-889c-05d6b46f81d6.jpg)
@darbyredhat as @rcarrata pointed out as well, Lab 3 https://github.com/RedHatDemos/SecurityDemos/blob/master/2021Labs/OpenShiftSecurity/documentation/lab3.adoc is supposed to be run as "admin" user to handle RBAC updates that Lab walks through.